In [25]:
import re
import pandas as pd

t1 = "Art. 1° \n\n§ Jessica \n\n§ Alex \n\n§ Lorena § Cesar"
t2 = "Art. 10. \n\n§ Blabla \n\n§ LALALA \n\n§ FFF § RR"

lai_art = [t1, t2]

#paragraf = pd.DataFrame({'conteudo': [], 
#                   'tipo': [], 
#                   'artigo_referencia': [] })

lista2 = []

for item in lai_art:
    i = item
    a = i[0:8]
    i = re.split("\n\n§", i)
    lista2.append(i)

lista2
#re.split("\n\n§", t2)

[['Art. 1° ', ' Jessica ', ' Alex ', ' Lorena § Cesar'],
 ['Art. 10. ', ' Blabla ', ' LALALA ', ' FFF § RR']]

In [39]:
# Código para mais de um parágrafo:

par = pd.DataFrame({'conteudo': [], 
                   'tipo': [], 
                   'artigo_referencia': [] })


for n in range(len(lai_art)):
    i = lai_art[n]
    a = i[0:8]
    i = pd.DataFrame({'conteudo': re.split("\n\n§", i)})
    i['tipo'] = 'paragrafo'
    i['artigo_referencia'] = a
    i = i[1:]
    par = pd.concat([par , i], axis = 0, sort=False)


par

          conteudo       tipo artigo_referencia
1         Jessica   paragrafo          Art. 1°
2            Alex   paragrafo          Art. 1°
3   Lorena § Cesar  paragrafo          Art. 1°
1          Blabla   paragrafo          Art. 10.
2          LALALA   paragrafo          Art. 10.
3         FFF § RR  paragrafo          Art. 10.

In [44]:
t1 = "Art. 1° \n\n§ Jessica \n\n§ Alex \n\n§ Lorena § Cesar"
t2 = "Art. 10. \n\n§ Blabla \n\n§ LALALA \n\n§ FFF § RR"
t3 = "Art. 15. blablabla \n\nParágrafo único . As pessoas blabla"

lai_art = [t1,t2,t3]

par = pd.DataFrame({'conteudo': [], 
                   'tipo': [], 
                   'artigo_referencia': [] })

for n in range(len(lai_art)):
    i = lai_art[n]
    a = i[0:8]
    if "\n\nParágrafo único" in i:
        i = pd.DataFrame({'conteudo': re.split("\n\nParágrafo único", i)})
    else:
        i = pd.DataFrame({'conteudo': re.split("\n\n§", i)})
    i['tipo'] = 'paragrafo'
    i['artigo_referencia'] = a
    i = i[1:]
    par = pd.concat([par , i], axis = 0, sort=False)

par

               conteudo       tipo artigo_referencia
1              Jessica   paragrafo          Art. 1°
2                 Alex   paragrafo          Art. 1°
3        Lorena § Cesar  paragrafo          Art. 1°
1               Blabla   paragrafo          Art. 10.
2               LALALA   paragrafo          Art. 10.
3              FFF § RR  paragrafo          Art. 10.
1   . As pessoas blabla  paragrafo          Art. 15.

In [42]:
food = "X"

if food == 'spam':
    print('Ummmm, my favorite!')
else:
    print("No, I won't have it. I want spam!")

No, I won't have it. I want spam!

In [ ]:
# Criando os artigos

artigos = [ ]
for i in range(1, 10):
    i = str(i)
    artigos.append('Art. ' + i + 'º ' )
    
for i in range(10, 100):
    i = str(i)
    artigos.append('Art. ' + i + '. ' )

print(artigos)

In [ ]:
# Para cada elemento em artigos: apague tudo o que vem antes do elemento, 
# apague tudo o que vem depois do elemento seguinte, parta para o próximo elemento

teste = "Maria \n Art. 1º blablabla \n Art. 2º  uuuuu \n Art. 3º xxx"
content_art = []

t1 = re.sub(".* \n Art. 2º ", "", teste)
t1 = re.sub("\n Art. 3º .*", "", t1, flags = re.DOTALL) 
# a Flag faz com que a regex considere novas linhas

artigos2 = artigos[0:6]
artigos2

output = []

for i in range(len(artigos2)):
    z = artigos[i]
    z = '.* \n' + z 
    a = re.sub(z, "", teste)
    y = artigos[i + 1]
    y = y + '.*'
    a = re.sub(y, "", a, flags = re.DOTALL) 
    output.append(a)

output
#for i in artigos:
#    z = '^[^' + i + ']*'
#    content_art.append(re.sub(z,"", teste))

#print(content_art)

In [53]:
import re
teste = "ART. 15° E"

print(re.sub(r' [^ ]+$', '', teste))

ART. 15°